<ion-header>

  <!-- <ion-navbar>
    <ion-title>order</ion-title>
  </ion-navbar> -->

</ion-header>


<ion-content padding>
  <!-- <p style="text-align: left">
      <img src="../../assets/imgs/chef.png" width="20%"/>
  </p> -->
  <ion-grid>
    <ion-row>
      <ion-col col-6 style="text-align: left"><img src="../../assets/imgs/chef.png" width="20%" /></ion-col>
      <ion-col col-6 style="text-align: right; color: black; font-size: 20px">
        <ion-icon name="cart" (click)="cart()"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
  <h1>Menu</h1>
  <div>
    <ion-card>
      <img src="../../assets/imgs/rice.jpg" />
      <ion-card-content>
        <ion-card-title>
          Rice
        </ion-card-title>
        <p>
          The most popular Food ever, and largely
          consumed a mass audience.
        </p>
        <p style="font-size: 25px">N3000</p>
        <p>
          <button ion-button color="dark" (click)="presentToast()">+ Add To Cart</button>
        </p>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img src="../../assets/imgs/spag.jpg" />
      <ion-card-content>
        <ion-card-title>
          Spaghetti
        </ion-card-title>
        <p>
          Preferred By Many, It has even be considered to be better than rice. Try our spaghetti today.
        </p>
        <p style="font-size: 25px">N3000</p>
        <p>
          <button ion-button color="dark" (click)="presentToast()">+ Add To Cart</button>
        </p>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img src="../../assets/imgs/begg.jpg" />
      <ion-card-content>
        <ion-card-title>
          Bread & Egg
        </ion-card-title>
        <p>
          Please do not sleep on this combo, would make you feel so lively throughougt the day. Order now.
        </p>
        <p style="font-size: 25px">N3000</p>
        <p>
          <button ion-button color="dark" (click)="presentToast()">+ Add To Cart</button>
        </p>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>