<!--
  Generated template for the CartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <!-- <ion-navbar>
    <ion-title>cart</ion-title>
  </ion-navbar> -->

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-6 style="text-align: left">
        <img src="../../assets/imgs/chef.png" width="20%" />
      </ion-col>
      <ion-col col-6 style="text-align: right; color: black; font-size: 20px" (click)="menu()">MENU</ion-col>
    </ion-row>
  </ion-grid>
  <h1>Cart</h1>
  <ion-grid>
    <ion-row>
      <ion-col col-6 style="text-align: left">Rice</ion-col>
      <ion-col col-6 style="text-align: right;">N3000</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6 style="text-align: left">Bread & Egg</ion-col>
      <ion-col col-6 style="text-align: right;">N3000</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6 style="text-align: left">Spaghetti</ion-col>
      <ion-col col-6 style="text-align: right;">N3000</ion-col>
    </ion-row>
    <ion-row style="padding-top: 30px; border-top: 1px solid black;">
      <ion-col col-6 style="text-align: left; font-size: 15px">TOTAL</ion-col>
      <ion-col col-6 style="text-align: right;">N9000</ion-col>
    </ion-row>
  </ion-grid>

  <p>
    <button ion-button color="dark">Proceed To Payment</button>
  </p>



</ion-content>