page-login {
  background-color: black;
}
ion-header {
  text-align: center;
  background-color: black;
  color: white;
}
ion-content {
  text-align: center;
}
// .log{
//     background-color: rgba(0,0,0,0.5);
// }
.button-ios {
  background-color: black;
  margin-top: 20px;
}
form {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 40px;
}
.item-ios {
  padding-bottom: 5px;
  background-color: transparent;
  color: white;
}
ion-label {
  color: darkgray;
}
