<ion-header>



</ion-header>


<ion-content padding>
  <img src="../../assets/imgs/chef.png" width="50%" />
  <h1>Obaf's Restaurant</h1>
  <form [formGroup]="todo" (ngSubmit)="logForm()">
    <h3>Sign Up</h3>
    <ion-item>
      <ion-label>Full Name</ion-label>
      <ion-input type="text" formControlName="fullname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Username</ion-label>
      <ion-input type="text" formControlName="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <button ion-button type="submit" [disabled]="!todo.valid">Submit</button>
    <h5 (click)="signin()" style="color: gainsboro">Click Here to Sign In</h5>
  </form>
</ion-content>